table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	padding: 0.5em;
	border-bottom: 1px solid #eee;
	position: relative;
	text-align: left;
}
th[scope="row"] {
	text-align: left;
}

table.striped tbody tr:nth-child(odd) th, table.striped tbody tr:nth-child(odd) td {
	background: rgba(0, 0, 0, 0.035);
}

table.bordered th[scope], table.bordered td {
	border: 1px solid #eee;
}
